In [ ]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [ ]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [ ]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [ ]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
start_10 = dt.date(2010, 6, 1)
end_10 = dt.date(2010, 7, 1)
start_11 = dt.date(2011, 6, 1)
end_11 = dt.date(2011, 7, 1)
start_12 = dt.date(2012, 6, 1)
end_12 = dt.date(2012, 7, 1)
start_13 = dt.date(2013, 6, 1)
end_13 = dt.date(2013, 7, 1)
start_14 = dt.date(2014, 6, 1)
end_14 = dt.date(2014, 7, 1)
start_15 = dt.date(2015, 6, 1)
end_15 = dt.date(2015, 7, 1)
start_16 = dt.date(2016, 6, 1)
end_16 = dt.date(2016, 7, 1)
start_17 = dt.date(2017, 6, 1)
end_17 = dt.date(2017, 7, 1)

result = []
result=session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= start_10 ) & (Measurement.date < end_10 )|
    (Measurement.date >= start_11 ) & (Measurement.date < end_11 )|
    (Measurement.date >= start_12 ) & (Measurement.date < end_12 )|
    (Measurement.date >= start_13 ) & (Measurement.date < end_13 )|
    (Measurement.date >= start_14 ) & (Measurement.date < end_14 )|
    (Measurement.date >= start_15 ) & (Measurement.date < end_15 )|
    (Measurement.date >= start_16 ) & (Measurement.date < end_16 )|
    (Measurement.date >= start_17 ) & (Measurement.date < end_17 )).all()
print(result)

In [ ]:
#  3. Convert the June temperatures to a list.
print(list(result))

In [ ]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(result, columns=['date','June Temprature'])
june_df = june_df.set_index(june_df['date'], inplace=False)
print(june_df)

In [ ]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

## D2: Determine the Summary Statistics for December

In [ ]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_0 = dt.date(2010, 12, 1)
jan_0 = dt.date(2011, 1, 1)
dec_1 = dt.date(2011, 12, 1)
jan_1 = dt.date(2012, 1, 1)
dec_2 = dt.date(2012, 12, 1)
jan_2 = dt.date(2013, 1, 1)
dec_3 = dt.date(2013, 12, 1)
jan_3 = dt.date(2014, 1, 1)
dec_4 = dt.date(2014, 12, 1)
jan_4 = dt.date(2015, 1, 1)
dec_5 = dt.date(2015, 12, 1)
jan_5 = dt.date(2016, 1, 1)
dec_6 = dt.date(2016, 12, 1)
jan_6 = dt.date(2017, 1, 1)
dec_7 = dt.date(2017, 12, 1)

In [ ]:
# 7. Convert the December temperatures to a list.
result2 = []
result2 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= dec_0) & (Measurement.date < jan_0)|
       (Measurement.date >= dec_1) & (Measurement.date < jan_1)|
       (Measurement.date >= dec_2) & (Measurement.date < jan_2)|
       (Measurement.date >= dec_3) & (Measurement.date < jan_3)|
       (Measurement.date >= dec_4) & (Measurement.date < jan_4)|
       (Measurement.date >= dec_5) & (Measurement.date < jan_5)|
       (Measurement.date >= dec_6) & (Measurement.date < jan_6)|
       (Measurement.date >= dec_7)).all()
print(result2)

In [44]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
#print(list(result2))

dec_df = pd.DataFrame(result2, columns=['date', 'December Temps'])
dec_df = dec_df.set_index(dec_df['date'], inplace=False)
print(dec_df)

                  date  December Temps
date
2010-12-01  2010-12-01            76.0
2010-12-03  2010-12-03            74.0
2010-12-04  2010-12-04            74.0
2010-12-06  2010-12-06            64.0
2010-12-07  2010-12-07            64.0
...                ...             ...
2016-12-27  2016-12-27            71.0
2016-12-28  2016-12-28            71.0
2016-12-29  2016-12-29            69.0
2016-12-30  2016-12-30            65.0
2016-12-31  2016-12-31            65.0

[1517 rows x 2 columns]

In [45]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000